$gop = rgba(191, 97, 81, 1)
$dem = rgba(89, 136, 157, 1)
$winner = #8fb545

$democratic = {
	democratic-0: #21576e
	democratic-1: #59889d
	democratic-2: #ae7ddf
}

.fill--democratic-other
	fill #f9c488
	background-color #f9c488

for range, color in $democratic
	.color--{range}
		color color
	.fill--{range}
		background-color color
		fill color

$republican = {
	republican-0: #6a1a09
	republican-1: #bf9251
	republican-2: #3B8B59

	republican-3: #3A5C7C
	republican-4: #0B2845
	republican-5: #5D7A97

	republican-6: #963B28
	republican-7: #966128
	republican-8: #802249

	republican-9: #E99988
	republican-10: #E9BA88
	republican-11: #C67497
}

.fill--republican-other
	fill #FFC9BD
	background-color #FFC9BD

for range, color in $republican
	.color--{range}
		color color
	.fill--{range}
		background-color color
		fill color
