$assets-path = '../assets/'

//=======================
// Base
//=======================
@require 'base/variables'
@require 'base/helpers'
@require 'base/colors'
@require 'base/layout'

// $small = 2rem
$tiny = 20rem
$small = 25rem
$medium = 30rem
$large = 36rem

//=======================
// Custom styles
//=======================
@require 'colors'
@require 'map'
@require 'table'
@require 'main'

// Combine media queries
// Don't removes
apply_mq_cache()
