header
	width 100%
	border-bottom solid #cccccc 1px
	margin-bottom 1em
	position relative
	div
		display inline-block
	span
		font-family $benton

	.title
		span
			font-weight bold
			color #333

		abbr
			display inline
			@media screen and (min-width: $tiny)
				display none

		.name
			display none
			@media screen and (min-width: $tiny)
				display inline

	.updater
		position absolute
		bottom 0
		right 0

		span
			text-align right
			white-space nowrap

		.shadow
			visibility hidden

		.text
			position absolute
			bottom 0




.parties
	width 100%
	overflow hidden

	@media screen and (min-width: $small)

		.party
			width 48%

			&.dem
				float left

			&.gop
				float right

.parties .party:first-child
	margin-bottom 1em

