path
	fill none

svg.choropleth

	display block
	margin auto
	vertical-align bottom

	g path
		stroke-linecap round
		stroke-linejoin round

	g.outline
		fill none
		stroke black
		stroke-width 0.2px

	g.features path
		stroke-width 0.1px
		stroke-opacity 0.1

		&.blank
			stroke black
			stroke-opacity 1
			fill white

		&.tie
			stroke black
			stroke-opacity 1
			fill #ccc
